version: "3.9"

services:
  web:
    build: .
    ports:
      - "7000:7000"
    environment:
      DATABASE_URL: postgresql+psycopg2://verif:verif@db:5432/verifmatos
      JWT_SECRET: "change-me"
      JWT_ALGORITHM: "HS256"
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: verifmatos
      POSTGRES_USER: verif
      POSTGRES_PASSWORD: verif
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
